{
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "trailingComma": "all",
  "printWidth": 60,
  "tabWidth": 2,
  "arrowParens": "always",
  "endOfLine": "lf"
}
